body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;

    /*justify-content: center;
    align-items: center;*/
}

.nav-lists {
    list-style: none;
    color: #404040;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 23%;
}

.nav-lists li {
    margin: 10px;
}

.nav-form-serch button,
input {
    background: none;
    border: none;
    width: auto;
}

.nav-form-serch input {
    font-family: 'Roboto', sans-serif;
}

.nav-form-serch button {
    display: flex;
    justify-content: right;
}

.nav-form-serch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 20%;
    border-bottom: 0.7px solid #bebebe;

}

.main {
    margin-top: 2.5%;
    width: 100%;
    text-align: right;
}

.main h1 {

    font-size: 100px;
    margin: 0 50px 10px 0;
    color: #008663;

}

.main p {
    color: #bebebe;
    margin: 0 50px 10px 0;

}

.grid-menu .promotion {
    display: flex;
    position: relative;
    z-index: -1;
    min-width: 70%;
    height: 200px;
    margin: 190px 90px 0 110px;

    flex-direction: column;
    border-radius: 25px;
    
    transition: background-color 0.6s, height 0.6s, with 0.6s;
    width: max-content;

}

.grid-menu {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: 0;
    margin-left: 0;
    padding: 0 30px 0 30px;
    overflow: hidden;
    height: 100%;
    width: 50%;
    background-color: none;
    transition: height 0.6s, width 0.6s, background-color 0.6s;
    
}

.grid-menu::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.grid-menu .promotion .img {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
    height: auto;
}

.promotion .img img {
    width: 40%;
    transition: width 0.6s;

}

.grid-menu .promotion:hover {
    background-color: white;
    height: 0%;
    width: 0%;
    
    transition: background-color 0.3s, height 0.6s, width 0.6s, box-shadow 0.6s;

}
.grid-menu .promotion:hover .img img{
    width: 43%;
    transition: width 0.6s;
}

.grid-menu .promotion:hover .title {
    color: #EEEEEE;
    transition: color 0.6s;
}


.grid-menu .promotion:hover .buy {
    display: block;
    opacity: 10;
    transition: opacity 0.6s;
}

.grid-menu .promotion:hover .title {
    color: #BFC9CA;
}

.grid-menu .promotion:hover .title h4 {
    display: none;
}

.buy {
    display:none;
}
.grid-menu .promotion:hover .buy {
    display: block;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    color: #FFFF;
    background-color: #008663;
    border: #008663;
    box-shadow: 2px 0px 46px -21px rgba(0,0,0,0.75);
    transition: display 0.6s, height 0.6s, width 0.6s;
    
    
}



.buy h2 {
    color: #EEEEEE;
}

.img svg {
    z-index: -1;
    width: 250%;
}

.percent {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
}

.percent div p{
    margin-top: 0;
    font-size: 10px;
}

.percent div {
    text-align: center;
    margin-right: 3px;
    color: #BFC9CA;
}

.description {
    margin-top: -265px;
    margin-left: 10px;
}

.promotion .title {
    margin-top: -15px;
    color: #979A9A;
}

.amout-buy {
    border: 1px #008663 solid;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #008663;
    color: #FFFF;
    position: absolute;
}

.buttom-amount-buy {
    margin-left: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.title h4 {
    margin-top: -20px;
    color: #008663;
}


