body{
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    
    /*justify-content: center;
    align-items: center;*/
}

.nav-lists {
    list-style: none;
    color: #404040;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(65px, 1fr));
    justify-content: center;
    align-items: center;
    max-width: 23%;
}

.nav-lists li {
    margin: 10px;
}

.nav-form-serch button, input {
    background: none;
    border: none;
    width: auto;
}

.nav-form-serch input {
    font-family: 'Roboto', sans-serif;
}

.nav-form-serch button {
    display: flex;
    justify-content: right;
}

.nav-form-serch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 20%;
    border-bottom: 0.7px solid #bebebe;

}

.main{
    margin-top: 2.5%;
    width: 100%;
    text-align: right;
}

.main h1{
    
    font-size: 100px;
    margin: 0 50px 10px 0;
    color: #008663;

}

.main p{
    color: #bebebe;
    margin: 0 50px 10px 0;

}

.grid-menu .promotion {
    display: flex;
    height: 100%;
    margin: 180px 25px 0 0;
    padding: 0;
    padding: 0 40px 0 40px;
    flex-direction: column;
    border-radius: 25px;
    background-color: #F4F6F7;
    transition: background-color 0.6s, height 0.6s, with 0.6s;
}


.grid-menu .promotion .img{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
    height: auto;
}

.img img {
    width: 45%;
    
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-items: center;
    justify-content: center;
    margin-top: 100px 1;
    height: 50%;
}

.promotion .title {
    margin-top: -100px;
    display: flex;
    justify-content: flex-start;
    align-items: first;
    color: #979A9A;
}

.description {
    color: #CACFD2;
}


.grid-menu .promotion:hover {
    background-color: #008663;
    height: 120%;
    box-shadow: 9px 11px 95px 21px rgba(0,0,0,0.53);
    transition: background-color 0.6s, height 0.6s, width 1s, box-shadow 0.6s;

}

.grid-menu .promotion:hover .title {
    color: #EEEEEE;
    transition: color 0.6s;
}

.grid-menu .promotion:hover .description {
    display: none;
}

.grid-menu .promotion:hover .buy {
    display: block;
    opacity: 10;
    transition: opacity 0.6s;
}

.grid-menu .promotion:hover .title {
    color: #BFC9CA;
}

.buy{
    display: none;
    opacity: 0;
}

.buy h2 {
    color: #EEEEEE;
}

.img svg {
    z-index: -1;
    width: 250%;
}
